<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedTypeappreciations()"
              [disabled]="!selectedTypeappreciations || !selectedTypeappreciations.length"></button> -->
          </ng-template>

          <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload> -->
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
              (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
        <p-table #dt [value]="typeappreciations" [rows]="5" [paginator]="true" [(selection)]="selectedTypeappreciations"
          [rowHover]="true" dataKey="id" [lazy]="true" (onLazyLoad)="loadTypeappreciations($event)"
          styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">
                Liste des Types appreciation
              </h5>

              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Rechercher..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Code</th>
              <th>Libelle </th>
              <th style="width: 9rem;">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-typeappreciation>
            <tr>
              <td>{{typeappreciation.codeType}}</td>
              <td>{{typeappreciation.libelleType}}</td>
              <td>
                <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                  (click)="view(typeappreciation, false)"></button>

                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1"
                  (click)="view(typeappreciation, true)"></button>

                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                  (click)="delete(typeappreciation)"></button>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>



      <p-dialog header="Type Appréciation" [(visible)]="typeappreciationDialog" modal="modal" showEffect="fade"
        [style]="{width: '60%'}">
        <div style="line-height: 1.5">
          <form #sessionform="ngForm">

            <div class="p-grid p-fluid" *ngIf="typeappreciation">
              <div class="p-field p-col-12 p-md-3">
                <label for="code">Code</label>
                <input type="text" pInputText id="code" name="code" [(ngModel)]="typeappreciation.codeType"
                  placeholder="Code du Type appreciations" [readonly]="!editMode" required />
              </div>

              <div class="p-field p-col-12 p-md-5">
                <label for="libelle">Libelle</label>
                <input type="text" pInputText id="libelle" name="libelle" [(ngModel)]="typeappreciation.libelleType"
                  placeholder="Libelle du type appreciation" [readonly]="!editMode" required />
              </div>
            </div>
          </form>
        </div>
        <p-footer>
          <button *ngIf="editMode && !typeappreciation.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
            (click)="save(sessionform)" class="p-button-text p-button-success"></button>
          <button *ngIf="editMode && typeappreciation.id" type="button" pButton label="Modifier" icon="pi pi-check"
            (click)="update(sessionform)" class="p-button-text p-button-success"></button>
          <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)"
            label="Modifier" class="p-button-text p-button-info"></button>
          <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
            class="p-button-text p-button-danger"></button>
        </p-footer>
      </p-dialog>

      <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
        acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
      </p-confirmDialog>
    </div>
  </div>
