<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedNoteEvaluations()" [disabled]="!selectedNoteEvaluations || !selectedereNoteEvaluations.length"></button> -->
          </ng-template>
          <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload> -->
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
              (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
        <p-table #dt [value]="noteEvaluations" [rows]="5" [paginator]="false" [(selection)]="selectedNoteEvaluations"
          [rowHover]="true" dataKey="id" [lazy]="true" (onLazyLoad)="loadNoteEvaluations($event)"
          styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">
                Notes des évaluations
              </h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Rechercher..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Etudiant </th>
              <th>Evaluation </th>
              <th>Note </th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-noteEvaluation>
            <tr>
              <td>{{noteEvaluation.etudiant.nomEtudiant}} {{noteEvaluation.etudiant.prenomEtudiant}}</td>
              <td>{{noteEvaluation.evaluation.titreEvaluation}}</td>
              <td>{{noteEvaluation.noteEtudiant}}</td>
              <td>
                <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                  (click)="view(noteEvaluation, false)"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1"
                  (click)="view(noteEvaluation, true)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                  (click)="delete(noteEvaluation)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p-dialog header="NoteEvalution" [(visible)]="noteEvaluationDialog" modal="modal" showEffect="fade"
        [style]="{width: '60%'}">
        <div style="line-height: 1.5">
          <form #noteevaluationform="ngForm">
            <div class="p-grid p-fluid" *ngIf="noteEvaluation">
              <div class="p-field p-col-12 p-md-4">
                <label for="etudiant">Etudiant</label>
                <p-dropdown inputId="etudiant" [(ngModel)]="noteEvaluation.etudiant" [options]="etudiants"
                  placeholder="selectionner un etudiant" optionLabel="nomEtudiant" required name="etudiant"
                  [readonly]="!editMode">
                </p-dropdown>
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="evaluation">Evaluation</label>
                <p-dropdown inputId="evaluation" [(ngModel)]="noteEvaluation.evaluation" [options]="evaluations"
                  placeholder="selectionner une évaluation" optionLabel="titreEvaluation" required name="evaluation"
                  [readonly]="!editMode">
                </p-dropdown>
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="noteEvaluation">Note</label>
                <input type="text" pInputText id="noteEtudiant" name="Code" [(ngModel)]="noteEvaluation.noteEtudiant"
                  placeholder="Note d'évaluation" [readonly]="!editMode" required />
              </div>
            </div>
          </form>
        </div>
        <p-footer>
          <button *ngIf="editMode && !noteEvaluation.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
            (click)="save(noteevaluationform)" class="p-button-text p-button-success"></button>
          <button *ngIf="editMode && noteEvaluation.id" type="button" pButton label="Modifier" icon="pi pi-check"
            (click)="update(noteevaluationform)" class="p-button-text p-button-success"></button>
          <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)"
            label="Modifier" class="p-button-text p-button-info"></button>
          <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
            class="p-button-text p-button-danger"></button>
        </p-footer>
      </p-dialog>
      <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
        acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
      </p-confirmDialog>
    </div>
</div>
