<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedEvaluations()"
              [disabled]="!selectedEvaluations || !selectedEvaluations.length"></button> -->
          </ng-template>
          <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload> -->
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
              (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
        <p-table #dt [value]="evaluations" [rows]="5" [paginator]="true" [(selection)]="selectedEvaluations"
          [rowHover]="true" dataKey="id" [lazy]="true" (onLazyLoad)="loadEvaluations($event)"
          styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">
                Liste des évalutations
              </h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Rechercher..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Titre</th>
              <th>Date</th>
              <th>Programme cours</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-evaluation>
            <tr>
              <td>{{evaluation.titreEvaluation}}</td>
              <td>{{evaluation.dateEvaluation}}</td>
              <td>{{evaluation.programmeCours?.matiere?.libelleMatiere}}</td>
              <td>
                <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                  (click)="view(evaluation, false)"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1"
                  (click)="view(evaluation, true)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                  (click)="delete(evaluation)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p-dialog header="Evaluation" [(visible)]="evaluationDialog" modal="modal" showEffect="fade"
        [style]="{width: '60%'}">
        <div style="line-height: 1.5">
          <form #evaluationform="ngForm">
            <div class="p-grid p-fluid" *ngIf="evaluation">
              <div class="p-field p-col-12 p-md-4">
                <label for="titreEvaluation">Titre</label>
                <input type="text" pInputText id="titreEvaluation" name="titreEvaluation"
                  [(ngModel)]="evaluation.titreEvaluation" placeholder="Nom de l'évaluation" [readonly]="!editMode"
                  required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="dateEvaluation">Date</label>
                <input type="date" pInputText id="dateEvaluation" name="dateEvaluation"
                  [(ngModel)]="evaluation.dateEvaluation" placeholder="Date de l'évaluation" [readonly]="!editMode"
                  required />
              </div>
              <!-- <div class="p-field p-col-12 p-md-4">
                <label for="id">Date</label>
                <input type="number" pInputText id="id" name="id"
                  [(ngModel)]="evaluation.id" placeholder="Date de l'évaluation" [readonly]="!editMode"
                  required />
              </div> -->
              <div class="p-field p-col-12 p-md-4">
                <label for="programme">Choisir le programme</label>
                <p-dropdown inputId="programmeCours" [(ngModel)]="evaluation.programmeCours" [options]="programmes"
                  placeholder="selectionner un programme" optionLabel="matiere.libelleMatiere" required name="programme"
                  [readonly]="!editMode">
                </p-dropdown>
              </div>
            </div>
          </form>
        </div>
        <p-footer>
          <button *ngIf="editMode && !evaluation.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
            (click)="save(evaluationform)" class="p-button-text p-button-success"></button>
          <button *ngIf="editMode && evaluation.id" type="button" pButton label="Modifier" icon="pi pi-check"
            (click)="update(evaluationform)" class="p-button-text p-button-success"></button>
          <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)"
            label="Modifier" class="p-button-text p-button-info"></button>
          <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
            class="p-button-text p-button-danger"></button>
        </p-footer>
      </p-dialog>
      <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
        acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
      </p-confirmDialog>
    </div>
  </div>

