
<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch"  icon="pi pi-circle-on" (click)="dark = true"></p-button>
            <p-button styleClass="light-switch"  icon="pi pi-circle-off" (click)="dark = false"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/layouts/images/logo-mirage@2x.png" alt="mirage-layout" />
                </div>
                <h1>Connectez-vous à IBITEPT</h1>
                <p>Bienvenue, veuillez utiliser le formulaire pour vous connecter à IBITEPT</p>
                <div class="forms">
                    <div class="login-input-wrapper">
                        <label for="username">Nom d'utilisateur</label>
                        <input id="username" pInputText placeholder="Tapez votre Nom d'utilisateur..." />
                        <i class="pi pi-user"></i>
                    </div>

                    <div class="login-input-wrapper">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" placeholder="Tapez votre Mot de passe" pPassword [feedback]="false"/>
                        <i class="pi pi-lock"></i>
                    </div>

                    <div class="p-col-12">
                        <p-checkbox [(ngModel)]="checked" label="Souviens-toi de moi!" value="SaveInfo" binary="true"></p-checkbox>
                    </div>


                    <div class="buttons">
                        <button pButton type="button" (click)=OnLogin() label="Connexion"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
