<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedPromotions()"
            [disabled]="!selectedPromotions || !selectedPromotions.length"></button> -->
        </ng-template>

        <ng-template pTemplate="right">
          <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="appartenirpromotions" [rows]="5" [paginator]="true" [(selection)]="selectedAppartenirpromotions"
        [rowHover]="true" dataKey="id" [lazy]="true" (onLazyLoad)="loadAppartenirpromotions($event)" [totalRecords]="totalRecords"
        [loading]="loading" [rowsPerPageOptions]="[5,10,25]"
        styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">
             Appartenir promotion
            </h5>

            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Rechercher..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nom de l'étudiant</th>

            <th>Promotion</th>

            <th>Date d'entrée </th>
            <th>Exclu </th>
            <th>Motif d'exclusion</th>
            <th>Dernière session</th>
            <th style="width: 9rem;">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appartenirpromotion>
          <tr>
            <td>{{appartenirpromotion.etudiant.nomEtudiant}} {{appartenirpromotion.etudiant.prenomEtudiant}}</td>
            <td>{{appartenirpromotion.promotion.nom}}</td>
            <td>{{appartenirpromotion.dateEntree}}</td>
            <td>{{appartenirpromotion.exclu}}</td>
            <td>{{appartenirpromotion.motifExclusion}}</td>
            <td>{{appartenirpromotion.dernierSession}}</td>
            <td>
              <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                (click)="view(appartenirpromotion, false)"></button>

              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1"
                (click)="view(appartenirpromotion, true)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                (click)="delete(appartenirpromotion)"></button>

            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>

    <p-dialog header="Appartenir Promotion" [(visible)]="appartenirpromotionDialog" modal="modal" showEffect="fade" [style]="{width: '60%'}">
      <div style="line-height: 1.5">

        <form #appartenirpromotionform="ngForm">

          <div class="p-grid p-fluid" *ngIf="appartenirpromotion">
            <div class="p-field p-col-12 p-md-4">
              <label for="etudiant">Etudiant</label>
              <p-dropdown inputId="etudiant" [(ngModel)]="appartenirpromotion.etudiant" [options]="etudiants"
                optionLabel="nomEtudiant" required placeholder="Selectionner un étudiant" name="etudiants"
                [readonly]="!editMode">
              </p-dropdown>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="promotion">Promotion</label>
              <p-dropdown inputId="promotion" [(ngModel)]="appartenirpromotion.promotion" [options]="promotions"
                optionLabel="nom" required placeholder="Selectionner une promotion" name="promotion"
                [readonly]="!editMode">
              </p-dropdown>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="dateEntree">Date d'entrée</label>
              <input type="date" pInputText id="dateEntree" name="dateEntree" [(ngModel)]="appartenirpromotion.dateEntree"
                placeholder="Date d'entrée" [readonly]="!editMode" required />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="exclu">Exclu</label>
              <input type="number" pInputText id="exclu" name="exclu" [(ngModel)]="appartenirpromotion.exclu"
                placeholder="Exclu" [readonly]="!editMode" required />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="motifExclusion">Motif</label>
              <input type="text" pInputText id="motifExclusion" name="motifExclusion" [(ngModel)]="appartenirpromotion.motifExclusion"
                placeholder="Motif d'exclusion" [readonly]="!editMode" required />
            </div>


            <div class="p-field p-col-12 p-md-4">
              <label for="dateExclusion">Date d'exclusion</label>
              <input type="date" pInputText id="dateExclusion" name="dateExclusion" [(ngModel)]="appartenirpromotion.dateExclusion"
                placeholder="Date d'exclusion" [readonly]="!editMode" required />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="dernierSession">Dernière session</label>
              <input type="text" pInputText id="dernierSession" name="dernierSession" [(ngModel)]="appartenirpromotion.dernierSession"
                placeholder="Dernière session" [readonly]="!editMode" required />
            </div>
          </div>
        </form>

      </div>
      <p-footer>
        <button *ngIf="editMode && !appartenirpromotion.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
          (click)="save(appartenirpromotionform)" class="p-button-text p-button-success"></button>

        <button *ngIf="editMode && appartenirpromotion.id" type="button" pButton label="Modifier" icon="pi pi-check"
          (click)="update(appartenirpromotionform)" class="p-button-text p-button-success"></button>

        <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)" label="Modifier"
          class="p-button-text p-button-info"></button>

        <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
          class="p-button-text p-button-danger"></button>

      </p-footer>
    </p-dialog>

    <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
      acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
    </p-confirmDialog>
  </div>
</div>
