<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedEtudiants()" [disabled]="!selectedEtudiants || !selectedEtudiants.length"></button> -->
          </ng-template>

          <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload> -->
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
              (click)="Imprimer()"></button>
          </ng-template>
        </p-toolbar>
        <p-table #dt  [value]="etudiants" [rows]="5" [paginator]="true" [(selection)]="selectedEtudiants"
          [rowHover]="true"  id="tablereleve" [lazy]="true" (onLazyLoad)="loadEtudiants($event)"
          styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">
                Liste des étudiants
              </h5>

              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Rechercher..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Matricule</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Sexe</th>
              <th>Contact</th>
              <th>Adresse</th>
              <th>Ville</th>
              <th>Pays</th>
              <th style="width: 9rem;">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-etudiant>
            <tr>
              <td>{{etudiant.matricule}}</td>
              <td>{{etudiant.nomEtudiant}}</td>
              <td>{{etudiant.prenomEtudiant}}</td>
              <td>{{etudiant.sexeEtudiant}}</td>
              <td>{{etudiant.telephoneEtudiant}}</td>
              <td>{{etudiant.adresseEtudiant}}</td>
              <td>{{etudiant.villeEtudiant}}</td>
              <td>{{etudiant.paysEtudiant}}</td>
              <td>
                <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                  (click)="view(etudiant, false)"></button>

                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1"
                  (click)="view(etudiant, true)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                  (click)="delete(etudiant)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <p-dialog header="Etudiant" [(visible)]="etudiantDialog" modal="modal" showEffect="fade" [style]="{width: '70%'}">
        <div style="line-height: 1.5">
          <!--eglise-soumission></eglise-soumission-->
          <form #etudiantform="ngForm">
            <div class="p-grid p-fluid" *ngIf="etudiant">
              <div class="p-field p-col-12 p-md-2">
                <label for="nomEtudiant">Matricule</label>
                <input type="text" pInputText id="matricule" name="matricule" [(ngModel)]="etudiant.matricule"
                  placeholder="Matricule de l'étudiant" [readonly]="!editMode" required />
              </div>
              <div class="p-field p-col-12 p-md-2">
                <label for="nomEtudiant">Nom</label>
                <input type="text" pInputText id="nomEtudiant" name="nomEtudiant" [(ngModel)]="etudiant.nomEtudiant"
                  placeholder="Nom de l'étudiant" [readonly]="!editMode" required pattern="^[a-zA-Z]+$" />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="prenomEtudiant">Prénom</label>
                <input type="text" pInputText id="prenomEtudiant" name="prenomEtudiant"
                  [(ngModel)]="etudiant.prenomEtudiant" placeholder="prenom de l'étudiant" pattern="^[a-zA-Z]+$" [readonly]="!editMode"
                  required />
              </div>

              <div class="p-field p-col-12 p-md-4">
                <label for="prenomEtudiant">Email</label>
                <input type="email" pInputText id="emailEtudiant" name="emailEtudiant"
                  [(ngModel)]="etudiant.emailEtudiant" placeholder="Email de l'étudiant" [readonly]="!editMode"
                  required />
              </div>
              <div class="p-field p-col-12 p-md-2">
                <label for="genre">Genre</label>
                <select id="genre" [(ngModel)]="etudiant.sexeEtudiant" pInputText required name="sexeEtudiant"
                  placeholder="Votre sexe">
                  <option *ngFor="let g of genres" [ngValue]="g.code">{{g.name}}</option>
                </select>

              </div>

              <div class="p-field p-col-12 p-md-3">
                <label for="dateNaissanceEtudiant">Date de Naissance</label>
                <input type="date" pInputText id="dateNaissanceEtudiant" name="dateNaissanceEtudiant"
                  [(ngModel)]="etudiant.dateNaissanceEtudiant" placeholder="Date de Naissance" [readonly]="!editMode"
                  required />
              </div>
              <div class="p-field p-col-12 p-md-3">
                <label for="lieuNaissanceEtudiant">lieu de naissance</label>
                <input type="text" pInputText id="lieuNaissanceEtudiant" name="lieuNaissanceEtudiant"
                  [(ngModel)]="etudiant.lieuNaissanceEtudiant" placeholder="lieu de naissance" [readonly]="!editMode"
                  required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="lieuNaissanceEtudiant">Adresse</label>
                <input type="text" pInputText id="adresseEtudiant" name="adresseEtudiant"
                  [(ngModel)]="etudiant.adresseEtudiant" placeholder="adresse de l etudiant" [readonly]="!editMode"
                  required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="nationaliteEtudiant">Nationalité</label>
                <input type="text" pInputText id="nationaliteEtudiant" name="nationaliteEtudiant"
                  [(ngModel)]="etudiant.nationaliteEtudiant" placeholder="Nationalité de l'étudiant"
                  [readonly]="!editMode" required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="telephoneEtudiant">Contact</label>
                <input type="text" pInputText id="telephoneEtudiant" name="telephoneEtudiant"
                  [(ngModel)]="etudiant.telephoneEtudiant" placeholder="Contact de l'étudiant" [readonly]="!editMode"
                  required />
              </div>

              <div class="p-field p-col-12 p-md-4">
                <label for="villeEtudiant">Ville</label>
                <input type="text" pInputText id="villeEtudiant" name="villeEtudiant"
                  [(ngModel)]="etudiant.villeEtudiant" placeholder="Ville de l'étudiant" [readonly]="!editMode"
                  required />
              </div>

              <div class="p-field p-col-12 p-md-4">
                <label for="paysEtudiant">Pays</label>
                <input type="text" pInputText id="paysEtudiant" name="paysEtudiant" [(ngModel)]="etudiant.paysEtudiant"
                  placeholder="Pays de l'étudiant" [readonly]="!editMode" required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="numeroCNI">Numéro carte d'identité</label>
                <input type="text" pInputText id="numeroCNI" name="numeroCNI" [(ngModel)]="etudiant.numeroCNI"
                  placeholder="Numéro de la carte d'identité" [readonly]="!editMode" required />
              </div>

              <div class="p-field p-col-12 p-md-4">
                <label for="dateInscription">Date d'inscription</label>
                <input type="date" pInputText id="dateInscription" name="dateInscription"
                  [(ngModel)]="etudiant.dateInscription" placeholder="date inscription" [readonly]="!editMode"
                  required />
              </div>
            </div>
          </form>

        </div>

        <p-footer>
          <button *ngIf="editMode && !etudiant.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
            (click)="save(etudiantform)" class="p-button-text p-button-success"></button>

          <button *ngIf="editMode && etudiant.id" type="button" pButton label="Modifier" icon="pi pi-check"
            (click)="update(etudiantform)" class="p-button-text p-button-success"></button>

          <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)"
            label="Modifier" class="p-button-text p-button-info"></button>

          <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
            class="p-button-text p-button-danger"></button>

        </p-footer>
      </p-dialog>

      <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
        acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
      </p-confirmDialog>
