<!-- <div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Paramétrage des dénominations</h4>
            <p>This is your empty page template to start building beautiful applications.</p>
        </div>
    </div>
</div> -->

<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedEnseignants()"
            [disabled]="!selectedEnseignants || !selectedEnseignants.length"></button> -->
        </ng-template>

        <ng-template pTemplate="right">
          <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="enseignants" [rows]="5" [paginator]="true" [(selection)]="selectedEnseignants"
        [rowHover]="true" dataKey="id" [lazy]="true" (onLazyLoad)="loadEnseignants($event)"
        [totalRecords]="totalRecords" [loading]="loading" [rowsPerPageOptions]="[5,10,25]"
        styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">
              Liste des Enseignants
            </h5>

            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Rechercher..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Matricule</th>

            <th>Nom </th>

            <th>Prénom </th>

            <th>E-mail </th>

            <th>Telephone </th>

            <th>Ville </th>

            <th>Pays </th>
            <th>Adresse </th>

            <th>Recrutement</th>

            <th style="width: 9rem;">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-enseignant>
          <tr>
            <td>{{enseignant.matriculeEnseignant}}</td>
            <td>{{enseignant.nomEnseignant}}</td>
            <td>{{enseignant.prenomEnseignant}}</td>
            <td>{{enseignant.emailEnseignant}}</td>
            <td>{{enseignant.telephoneEnseignant}}</td>
            <td>{{enseignant.villeEnseignant}}</td>
            <td>{{enseignant.paysEnseignant}}</td>
            <td>{{enseignant.adresseEnseignant}}</td>
            <td>{{enseignant.date_recrut}}</td>
            <td>
              <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                (click)="view(enseignant, false)"></button>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1"
                (click)="view(enseignant, true)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                (click)="delete(enseignant)"></button>
              <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                 (click)="delete(enseignant)" [disabled]="!selectedEnseignants || !selectedEnseignants.length"></button> -->
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>

    <p-dialog header="Enseignant" [(visible)]="enseignantDialog" modal="modal" showEffect="fade"
      [style]="{width: '60%'}">
      <div style="line-height: 1.5">
        <!--eglise-soumission></eglise-soumission-->
        <form #enseignantform="ngForm">

          <div class="p-grid p-fluid" *ngIf="enseignant">
            <div class="p-field p-col-12 p-md-4">
              <!--  <h5>Statut</h5>
              <p-inputSwitch [(ngModel)]="enseignant.active" [readonly]="!editMode" name="statut">
              </p-inputSwitch>-->
              <label for="matriculeEnseignant">Matricule</label>
              <input type="text" pInputText id="matriculeEnseignant" name="matriculeEnseignant"
                [(ngModel)]="enseignant.matriculeEnseignant" placeholder="Matricule" [readonly]="!editMode" required />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="nomEnseignant">Nom</label>
              <input type="text" pInputText id="nomEnseignant" name="nomEnseignant"
                [(ngModel)]="enseignant.nomEnseignant" placeholder="Nom" [readonly]="!editMode" required
                pattern="^[a-zA-Z]+$" />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="prenomEnseignant">Prénom</label>
              <input type="text" pInputText id="prenomEnseignant" name="prenomEnseignant"
                [(ngModel)]="enseignant.prenomEnseignant" placeholder="Prénom" [readonly]="!editMode" required
                pattern="^[a-zA-Z]+$" />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="adresseEnseignant">Adresse</label>
              <input type="text" pInputText id="adresseEnseignant" name="adresseEnseignant"
                [(ngModel)]="enseignant.adresseEnseignant" placeholder="Adresse" [readonly]="!editMode" required />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label for="villeEnseignant"> Ville</label>
              <input type="text" pInputText id="villeEnseignant" name="villeEnseignant"
                [(ngModel)]="enseignant.villeEnseignant" placeholder="Ville" [readonly]="!editMode" required
                pattern="^[a-zA-Z]+$" />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label for="paysEnseignant">Pays</label>
              <input type="text" pInputText id="paysEnseignant" name="paysEnseignant"
                [(ngModel)]="enseignant.paysEnseignant" placeholder="Pays" [readonly]="!editMode" required
                pattern="^[a-zA-Z]+$" />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label for="telephoneEnseignant">Téléphone</label>
              <input type="text" pInputText id="telephoneEnseignant" name="telephoneEnseignant"
                [(ngModel)]="enseignant.telephoneEnseignant" placeholder="Téléphone" [readonly]="!editMode" required />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label for="emailEnseignant">E-mail</label>
              <input type="" pInputText id="emailEnseignant" name="emailEnseignant"
                [(ngModel)]="enseignant.emailEnseignant" placeholder="E-mail" [readonly]="!editMode" required />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label for="date_recrut">Date Recrutement</label>
              <input type="date" pInputText id="date_recrut" name="date_recrut" [(ngModel)]="enseignant.date_recrut"
                placeholder="Date Recrutement" [readonly]="!editMode" required />
            </div>

          </div>
        </form>

      </div>
      <p-footer>
        <button *ngIf="editMode && !enseignant.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
          (click)="save(enseignantform)" class="p-button-text p-button-success"></button>

        <button *ngIf="editMode && enseignant.id" type="button" pButton label="Modifier" icon="pi pi-check"
          (click)="update(enseignantform)" class="p-button-text p-button-success"></button>

        <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)" label="Modifier"
          class="p-button-text p-button-info"></button>

        <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
          class="p-button-text p-button-danger"></button>

      </p-footer>
    </p-dialog>

    <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
      acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
    </p-confirmDialog>
  </div>
</div>
