<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
      <button pButton pRipple label="Recherche votre releve" icon="pi pi-search" class="p-button-success p-mr-2" (click)="recherche(selectEtu,selectSess)"></button>
  </ng-template>
  <div style=" margin:auto;border: 3px solid green;width: 50%;padding: 10px;">
<select style=" margin:auto;border: 3px solid green;width: 50%;padding: 10px;" [(ngModel)]='selectEtu'>
  <option *ngFor='let etudiant of etudiants' value="{{etudiant.id}}">
      {{etudiant.nomEtudiant}} {{etudiant.prenomEtudiant}}
  </option>
</select>
<select style=" margin:auto;border: 3px solid green;width: 50%;padding: 10px;" [(ngModel)]='selectSess'>
    <option *ngFor='let sessionpromotion of sessionpromotions' value="{{sessionpromotion.id}}">
        Promotion : {{sessionpromotion.promotion.nom}} | session : {{sessionpromotion.session.rangSession}}
    </option>
  </select>

sla:{{selectEtu}}{{selectSess}}
</div>
<br>
  <ng-template pTemplate="right">
      <button pButton pRipple label="Imprimer" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="Imprimer()"></button>
</ng-template>
</p-toolbar>
<div class="p-grid" id="tablereleve" *ngFor='let releveNote of noteEvaluations'>
  <div class="p-col-12">
     <div class="card">
    <div class="card">
              <p class="text-center">INSTITUT BIBLIQUE ET THEOLOGIQUE DE L'EGLISE DE PENTECOTE DU TOGO(IBITEPT)</p>
              <h4 class="layout">
                  BULLETIN DE NOTES DU 1er <!--<p>{{noteEvaluation.Session.rangSession}}</p>--> SEMESTRE
                    </h4>
          <p-table [value]="noteEvaluations"  [rows]="10" [paginator]="false" [rowHover]="true" [lazy]="true"
                 styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
              <ng-template pTemplate="caption">
                  <div class="p-d-flex p-ai-cent er p-jc-between">
                  </div>
                  <div class="p-d-flex p-ai-cent er p-jc-between">
                      <p>Annee Scolaire: {{releveNote.evaluation.programmeCours.sessionpromotion.session.anneeSession}}</p>
                      <!-- <script type="text/javascript">
                            document.write(Math.pow(0,0) + "<br />");
                    </script> -->
              
                      <p>Promotion : {{releveNote.evaluation.programmeCours.sessionpromotion.promotion.nom}} </p>
                      <p>session : {{releveNote.evaluation.programmeCours.sessionpromotion.session.rangSession}}</p>
                      <p>Effectif: {{releveNote.length}} </p>
                  </div>
                  <p>Nom et Prenoms : {{releveNote.etudiant.nomEtudiant}} {{releveNote.etudiant.prenomEtudiant}}</p>
                </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th  style="width: 3rem" pSortableColumn="numero">No</th>
            <th  style="width: 30%" pSortableColumn="nomEtudiant">MATIERES</th>
            <th  style="width: 10%" pSortableColumn="nomEnseignant">MOY</th>
            <th  style="width: 10%" pSortableColumn="nomEnseignant">U.V</th>
            <th  style="width: 15%" pSortableColumn="nomEnseignant">MOY</th>
            <th  style="width: 10%" pSortableColumn="nomEnseignant">RANG</th>
            <th  style="width: 25%" pSortableColumn="nomEnseignant">PROFESSEURS</th>
            <th  style="width:25%" pSortableColumn="titreEvaluation">APPRECIATIONS</th>
            <th  style="width:25%" pSortableColumn="noteEtudiant">SIGNATURES</th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-releveNote>
                  <tr>
                      <td></td>  
                      <td>{{releveNote.evaluation.programmeCours.matiere.libelleMatiere}}</td> 
                      <td>{{releveNote.noteEtudiant}}</td>
                      <td>{{releveNote.evaluation.programmeCours.coef}}</td> 
                      <!-- <script type="text/javascript">
                        x=$releveNote.evaluation.programmeCours.coef
                        document.write(Math.pow(x,2));
                        {{(Math.pow(a, b )}}
                  </script> -->
                      <td  style="width: 10%"> 
                       
                    </td>
                      <td  style="width: 10%"> </td>
                      <td>{{releveNote.evaluation.programmeCours.enseignant.nomEnseignant}} {{releveNote.evaluation.programmeCours.enseignant.prenomEnseignant}}</td> 
                    <td style="width:25%"></td>
                    <td  style="width: 25%"> </td>
                 </tr>
              </ng-template>
          </p-table>
      </div>
      <div class="p-col-4 p-md-3">
          <div class="card">
              <p-panel header="Observation du Chef">
              </p-panel>
          </div>
      </div>
      <div class="p-col-5 p-md-2">
          <div class="card">
              <p-panel>
              Cachet
          </p-panel>
          </div>
      </div>
      <p>{{curDate | date:'yyyy-MM-dd'}}</p>
  <hr/>
            <div class="text">
        <p>Former et equiper pour la Missio Dei les pasteurs ,les evanmgelistes, les <br>missionnnaires</p>
      </div>
  </div>
</div>
</div>
