<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedPromotions()"
            [disabled]="!selectedPromotions || !selectedPromotions.length"></button> -->
        </ng-template>

        <ng-template pTemplate="right">
          <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="promotions" [rows]="5" [paginator]="true" [(selection)]="selectedPromotions"
        [rowHover]="true" dataKey="id" [lazy]="true" (onLazyLoad)="loadPromotions($event)" [totalRecords]="totalRecords"
        [loading]="loading" [rowsPerPageOptions]="[5,10,25]"
        styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">
              Liste des Promotions
            </h5>

            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Rechercher..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nom</th>

            <th>Début</th>

            <th>Fin </th>

            <th style="width: 9rem;">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-promotion>
          <tr>
            <td>{{promotion.nom}}</td>
            <td>{{promotion.date_debut}}</td>
            <td>{{promotion.date_fin}}</td>
            <td>
              <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                (click)="view(promotion, false)"></button>

              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1"
                (click)="view(promotion, true)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                (click)="delete(promotion)"></button>
              <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                (click)="delete(promotion)" [disabled]="!selectedPromotions || !selectedPromotions.length"></button> -->
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>

    <p-dialog header="Promotion" [(visible)]="promotionDialog" modal="modal" showEffect="fade" [style]="{width: '60%'}">
      <div style="line-height: 1.5">
        <!--eglise-soumission></eglise-soumission-->
        <form #promotionform="ngForm">

          <div class="p-grid p-fluid" *ngIf="promotion">
            <div class="p-field p-col-12 p-md-4">
              <!--  <h5>Statut</h5>
              <p-inputSwitch [(ngModel)]="promotion.active" [readonly]="!editMode" name="statut">
              </p-inputSwitch>-->
              <label for="nom">Nom</label>
              <input type="text" pInputText id="nom" name="nom" [(ngModel)]="promotion.nom"
                placeholder="Nom" [readonly]="!editMode" required />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="date_debut">Début</label>
              <input type="date" pInputText id="date_debut" name="date_debut" [(ngModel)]="promotion.date_debut"
                placeholder="Début" [readonly]="!editMode" required />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="date_fin">Fin</label>
              <input type="date" pInputText id="date_fin" name="date_fin" [(ngModel)]="promotion.date_fin"
                placeholder="Fin" [readonly]="!editMode" required />
            </div>

          </div>
        </form>

      </div>
      <p-footer>
        <button *ngIf="editMode && !promotion.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
          (click)="save(promotionform)" class="p-button-text p-button-success"></button>

        <button *ngIf="editMode && promotion.id" type="button" pButton label="Modifier" icon="pi pi-check"
          (click)="update(promotionform)" class="p-button-text p-button-success"></button>

        <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)" label="Modifier"
          class="p-button-text p-button-info"></button>

        <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
          class="p-button-text p-button-danger"></button>

      </p-footer>
    </p-dialog>

    <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
      acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
    </p-confirmDialog>
  </div>
</div>
