<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedMatieres()" [disabled]="!selectedMatieres || !selectedMatieres.length"></button> -->
          </ng-template>
          <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload> -->
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
              (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
        <p-table #dt [value]="matieres" [rows]="5" [paginator]="true" [(selection)]="selectedMatieres" [rowHover]="true"
          dataKey="id" [lazy]="true" (onLazyLoad)="loadMatieres($event)"
          styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">
                Liste des matieres
              </h5>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Rechercher..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 15%" pSortableColumn="code_matiere">Code</th>
              <th style="width: 15%" pSortableColumn="libelle_matiere">Libelle</th>
              <th style="width: 15%" pSortableColumn="coef_matiere">Coefficient</th>
              <th style="width: 20%" pSortableColumn="date_debut_matiere">Date Debut</th>
              <th style="width: 15%" pSortableColumn="date_fin_matiere">Date Fin</th>
              <th style="width: 20%" pSortableColumn="date_debut_matiere">Enseignant</th>
              <th style="width: 20%" pSortableColumn="date_debut_matiere">Session</th>
              <th style="width: 20%" pSortableColumn="active">Statut</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-matiere>
            <tr>
              <td>{{matiere.codeMatiere}}</td>
              <td>{{matiere.libelleMatiere}}</td>
              <td>{{matiere.coefMatiere}}</td>
              <td>{{matiere.dateDebutMatiere}}</td>
              <td>{{matiere.dateFinMatiere}}</td>
              <td>{{matiere.enseignant.nomEnseignant}} {{matiere.enseignant.prenomEnseignant}}</td>
              <td>{{matiere.session.rangSession}}</td>
              <td>
                <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                  (click)="view(matiere, false)"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1"
                  (click)="view(matiere, true)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                  (click)="delete(matiere)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p-dialog header="Matiere" [(visible)]="matiereDialog" modal="modal" showEffect="fade" [style]="{width: '60%'}">
        <div style="line-height: 1.5">
          <form #matiereform="ngForm">
            <div class="p-grid p-fluid" *ngIf="matiere">
              <div class="p-field p-col-12 p-md-4">
                <label for="code">Code</label>
                <input type="text" pInputText id="code_matiere" name="Code" [(ngModel)]="matiere.codeMatiere"
                  placeholder="Code matiere" [readonly]="!editMode" required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="libelle">Libelle</label>
                <input type="text" pInputText id="libelleMatiere" name="libelleMatiere"
                  [(ngModel)]="matiere.libelleMatiere" placeholder="Libelle de la matiere" [readonly]="!editMode"
                  required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="libelle">Coefficient</label>
                <input type="number" pInputText id="coefMatiere" name="coefMatiere" [(ngModel)]="matiere.coefMatiere"
                  placeholder="Libelle de la matiere" [readonly]="!editMode" required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="libelle">Date debut</label>
                <input type="date" pInputText id="dateDebutMatiere" name="dateDebutMatiere"
                  [(ngModel)]="matiere.dateDebutMatiere" placeholder="Libelle de la matiere" [readonly]="!editMode"
                  required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="libelle">Date fin</label>
                <input type="date" pInputText id="dateFinMatiere" name="dateFinMatiere"
                  [(ngModel)]="matiere.dateFinMatiere" placeholder="date Fin Matiere" [readonly]="!editMode" required />
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="libelle">Choisir un Enseignant</label>
                <p-dropdown inputId="enseignant" [(ngModel)]="matiere.enseignant" [options]="enseignants"
                  placeholder="selectionner un Enseignant" optionLabel="nomEnseignant" required name="enseignant"
                  [readonly]="!editMode">
                </p-dropdown>
              </div>
              <div class="p-field p-col-12 p-md-4">
                <label for="libelle">Choisir la session</label>
                <p-dropdown inputId="session" [(ngModel)]="matiere.session" [options]="sessions"
                  placeholder="selectionner une session" optionLabel="rangSession" required name="session"
                  [readonly]="!editMode">
                </p-dropdown>
              </div>
            </div>
          </form>
        </div>
        <p-footer>
          <button *ngIf="editMode && !matiere.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
            (click)="save(matiereform)" class="p-button-text p-button-success"></button>
          <button *ngIf="editMode && matiere.id" type="button" pButton label="Modifier" icon="pi pi-check"
            (click)="update(matiereform)" class="p-button-text p-button-success"></button>
          <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)"
            label="Modifier" class="p-button-text p-button-info"></button>
          <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
            class="p-button-text p-button-danger"></button>
        </p-footer>
      </p-dialog>
      <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
        acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
      </p-confirmDialog>
    </div>
  </div>
