
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div.layout {
    text-align: center;
  }
  
  div.centre {
    text-align: left;
    width: 200px;
    background-color: #eee;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }