<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <!-- <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedSessions()" [disabled]="!selectedSessions || !selectedSessions.length"></button> -->
          </ng-template>

          <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
              class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload> -->
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
              (click)="dt.exportCSV()"></button>
          </ng-template>
        </p-toolbar>
        <p-table #dt [value]="sessions" [rows]="5" [paginator]="true" [(selection)]="selectedSessions" [rowHover]="true"
          dataKey="id" [lazy]="true" (onLazyLoad)="loadSessions($event)"
          styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">
                Liste des sessions
              </h5>

              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Rechercher..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Rang Session </th>
              <th>Annee de la Session </th>
              <th>Date Debut</th>
              <th>Date Fin</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-session>
            <tr>
              <td>{{session.rangSession}}</td>
              <td>{{session.anneeSession}}</td>
              <td>{{session.dateDebutsession}}</td>
              <td>{{session.dateFinsession}}</td>
              <td>
                <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-2"
                  (click)="view(session, false)"></button>

                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                  (click)="view(session, true)"></button>

                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                  (click)="delete(session, true)"></button>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>



      <p-dialog header="Session" [(visible)]="SessionDialog" modal="modal" showEffect="fade" [style]="{width: '60%'}">
        <div style="line-height: 1.5">
          <form #sessionform="ngForm">

            <div class="p-grid p-fluid" *ngIf="session">
              <div class="p-field p-col-12 p-md-3">
                <label for="code">Rang</label>
                <input type="text" pInputText id="rangSession" name="rang" [(ngModel)]="session.rangSession"
                  placeholder="Rang de la Session" [readonly]="!editMode" required />
              </div>

              <div class="p-field p-col-12 p-md-5">
                <label for="libelle">Annee de la Session</label>
                <input type="text" pInputText id="anneeSession" name="anneeSession" [(ngModel)]="session.anneeSession"
                  placeholder="Annee de la matiere" [readonly]="!editMode" required />
              </div>

              <div class="p-field p-col-12 p-md-8">
                <label for="libelle">Date debut</label>
                <input type="date" pInputText id="dateDebutSession" name="dateDebutSession"
                  [(ngModel)]="session.dateDebutsession" placeholder="Libelle de la matiere" [readonly]="!editMode"
                  required />
              </div>
              <div class="p-field p-col-12 p-md-8">
                <label for="libelle">Date fin</label>
                <input type="date" pInputText id="dateFinMatiere" name="dateFinSession"
                  [(ngModel)]="session.dateFinsession" placeholder="Libelle de la matiere" [readonly]="!editMode"
                  required />
              </div>
            </div>
          </form>
        </div>
        <p-footer>
          <button *ngIf="editMode && !session.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
            (click)="save(sessionform)" class="p-button-text p-button-success"></button>
          <button *ngIf="editMode && session.id" type="button" pButton label="Modifier" icon="pi pi-check"
            (click)="update(sessionform)" class="p-button-text p-button-success"></button>
          <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)"
            label="Modifier" class="p-button-text p-button-info"></button>
          <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
            class="p-button-text p-button-danger"></button>
        </p-footer>
      </p-dialog>

      <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
        acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
      </p-confirmDialog>
    </div>
  </div>
