<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2"
            (click)="openNew()"></button>
          <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
            (click)="deleteSelectedProgrammes()"
            [disabled]="!selectedProgrammeCours || !selectedProgrammeCours.length"></button> -->
        </ng-template>

        <ng-template pTemplate="right">
          <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
            class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="programmes" [rows]="5" [paginator]="true" [(selection)]="selectedProgrammeCours"
        [rowHover]="true" dataKey="id" [lazy]="true" (onLazyLoad)="loadProgrammeCours($event)"
        [totalRecords]="totalRecords" [loading]="loading" [rowsPerPageOptions]="[5,10,25]"
        styleClass="p-datatable-customers p-datatable-striped p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">
              Liste des Programmes
            </h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Rechercher..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th>Matière</th>

            <th>Coef</th>

            <th>Professeur</th>

            <th>Session Pro</th>

            <th>Observation</th>

            <th>Début</th>

            <th>Fin</th>

            <th style="width: 9rem;">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-programme>
          <tr>
            <td>{{programme.matiere.libelleMatiere}}</td>
            <td>{{programme.coef}}</td>
            <td>{{programme.enseignant.nomEnseignant}} {{programme.enseignant.prenomEnseignant}}</td>
            <td>{{programme.sessionpromotion.rang}}</td>
            <td>{{programme.observationCours}}</td>
            <td>{{programme.dateDebutCours}}</td>
            <td>{{programme.dateFinCours}}</td>
            <td>
              <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info p-mr-1"
                (click)="view(programme, false)"></button>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-1" (click)="view(programme, true)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                (click)="delete(programme)"></button>
              <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-1"
                (click)="delete(programme)"
                [disabled]="!selectedProgrammeCours || !selectedProgrammeCours.length"></button> -->
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>

    <p-dialog header="Programme de cours" [(visible)]="programmeDialog" modal="modal" showEffect="fade"
      [style]="{width: '60%'}">
      <div style="line-height: 1.5">
        <!--eglise-soumission></eglise-soumission-->
        <form #programmeform="ngForm">
          <div class="p-grid p-fluid" *ngIf="programme">
            <div class="p-field p-col-12 p-md-4">
              <label for="matiere">Matiere</label>
              <p-dropdown inputId="matiere" [(ngModel)]="programme.matiere" [options]="matieres"
                optionLabel="libelleMatiere" required placeholder="Sélectionner une matière" name="matiere"
                [readonly]="!editMode">
              </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label for="coef">Coefficient</label>
              <input type="number" pInputText id="coef" name="coef" [(ngModel)]="programme.coef"
                placeholder="Coefficient" [readonly]="!editMode" required />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label for="enseignant">Enseignant</label>
              <p-dropdown inputId="enseignant" [(ngModel)]="programme.enseignant" [options]="enseignants"
                optionLabel="nomEnseignant" required placeholder="Selectionner un enseignant" name="enseignant"
                [readonly]="!editMode">
              </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">

              <label for="sessionpromotion">Session Promo</label>
              <p-dropdown inputId="sessionpromotion" [(ngModel)]="programme.sessionpromotion" required
                placeholder="Selectionner la session de la promotion" [options]="sessionpromotions" optionLabel="rang"
                name="sessionpromotion" [readonly]="!editMode">
              </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label for="observationCours">Observation</label>
              <textarea rows="2" cols="30" id="observationCours" name="observationCours"
                [(ngModel)]="programme.observationCours" [readonly]="!editMode"></textarea>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="dateDebutCours">Début</label>
              <input type="date" pInputText id="dateDebutCours" name="dateDebutCours"
                [(ngModel)]="programme.dateDebutCours" placeholder="Début" [readonly]="!editMode" required />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label for="dateFinCours">Fin</label>
              <input type="date" pInputText id="dateFinCours" name="dateFinCours" [(ngModel)]="programme.dateFinCours"
                placeholder="Fin" [readonly]="!editMode" required />
            </div>
          </div>
        </form>

      </div>
      <p-footer>
        <button *ngIf="editMode && !programme.id" type="button" pButton label="Enregistrer" icon="pi pi-check"
          (click)="save(programmeform)" class="p-button-text p-button-success"></button>

        <button *ngIf="editMode && programme.id" type="button" pButton label="Modifier" icon="pi pi-check"
          (click)="update(programmeform)" class="p-button-text p-button-success"></button>

        <button *ngIf="!editMode" type="button" pButton icon="pi pi-pencil" (click)="setEditMode(true)" label="Modifier"
          class="p-button-text p-button-info"></button>

        <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Fermer"
          class="p-button-text p-button-danger"></button>

      </p-footer>
    </p-dialog>

    <p-confirmDialog header="Confirmation" [style]="{width: '450px'}" rejectLabel="Non" acceptLabel="Oui"
      acceptButtonStyleClass=" p-button-success" rejectButtonStyleClass="p-button-text p-button-danger">
    </p-confirmDialog>
  </div>
</div>
